<body>
    <h1> Delete data </h1>
    <form action="/deleteData398" method="POST">
        <input type="text" , name="jobID398" , placeholder="Enter job ID" , required>
        <input type="number" , name="partID398" , placeholder="Enter part ID" , required>
        <button> Submit </button>
    </form>
    <br>
    <form action="/">
        <button> Home </button>
    </form>
    <br>
    <form action="/viewData398">
        <button> View Data </button>
    </form>
</body>