<style>
    table,
    th,
    td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<body>
    <h1> View Data </h1>
    <br>
    <table>
        <thread>
            <tr>
                <th> Job ID </th>
                <th> Part ID </th>
                <th> Quantity </th>
            </tr>
        </thread>
        <tbody>
            <% jobs398.forEach(function(job398){ %>
            <tr>
                <td> <%= job398.jobID398 %> </td>
                <td> <%= job398.partID398 %> </td>
                <td> <%= job398.qty398 %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
<br>
<form action="/">
    <button> Home </button>
</form>
<br>
<form action="/viewDataByID398" method="GET">
    <input type="text" , name="jobID398" , placeholder="Enter job ID" , required>
    <input type="number" , name="partID398" , placeholder="Enter part ID" , required>
    <button> View Data by ID </button>
</form>
<br>
<form action="/addData398">
    <button> Add Data </button>
</form>
<br>
<form action="/updateData398">
    <button> Update Data </button>
</form>
<br>
<form action="/deleteData398">
    <button> Delete Data </button>
</form>